.widgetSm {
  flex:1;
   padding: 20px;
   box-shadow: 1px 6px 19px 3px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 1px 6px 19px 3px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 1px 6px 19px 3px rgba(0, 0, 0, 0.22);
   margin-right: 20px;
}

.widgetSmTitle{
  font-size: 22px;
  font-weight:600;
}

.widgetSmImg {
  width:80px;
  height:80px;
  border-radius:50%;
  object-fit: cover;/*For Covering img in givven size*/
}

.widgetSmList{
  margin: 0;
  padding:0;
  list-style: none;
}

.widgetSmListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:20px 0px;
}
.widgetSmUser {
  display: flex;
  flex-direction: column;
}

.widgetSmUserName {
  font-weight: 600;
}

.widgetSmUserTitle {
  font-weight: 300;
}

.widgetSmIcon{
  margin-right: 5px;
  
}

.widgetSmButton {
  display: flex;
  align-items: center;
  padding: 10px;
  border:none;
  border-radius: 10px;
  color: #797979
}